// 基础主题配置

@import "variable.styl"

a
  color: $color-font-link
  -webkit-backface-visibility: hidden

body
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

// 字体遵循先MacOS原则

body, html
  line-height: 1
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-bg
