// 颜色 取自阿里的Ant Design
// https://www.iviewui.com/components/color
// 主色调: 背景色
$color-primary = #2d8cf0
// 亮色light-primary: 用于hover
$color-primary-light = #5cadff
// 深色: 用于active
$color-primary-dark = #3091f2
// 辅助色

// 中性色
// 标题和正文
//$color-title = #1c2438
//$color-content = #495060
// 辅助用于图标
$color-sub = #80848f
// 失效颜色
$color-disabled = #bbbec4
$color-border = #dddee1
// 分割线
$color-divider = #e9eaec
// 背景色
$color-bg = #f8f8f9

// 中文字体规范
$color-font-title = #464c5b// bold
$color-font-content = #657180 // normal
$color-font-help = #9ea7b4
$color-font-disabled = #c3cbd6
$color-font-link = #3399ff


// 字体
$font-size-small-s = 10px
$font-size-small = 12px // 小标题, 正文, 辅助文字, 失效文字
$font-size-medium = 14px // 次级标题
$font-size-medium-x = 16px // 主标题
$font-size-large = 18px
$font-size-large-x = 22px

